@import './assets/fonts/fonts.css';

:root {
  --app-color-background: #ede7e3;
  --app-color-text-default: #16697a;
  --app-color-task-background: white;
  --app-color-task-marked-background: #82c0cc;
  --app-color-reward-background: #ffa62b;
  --app-color-reward-marked-background: #ffa62b;

  --app-color-common: #d5d5d5;
  --app-color-uncommon: #9ed591;
  --app-color-rare: #a9d1f4;
  --app-color-epic: #d4b3de;

  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;

  color: var(--app-color-text-default);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--app-color-background);
}
